li img{ transition: all .2s ease-in-out; }
li img:hover { transform: scale(1.1); }
.box{
padding: 15px;
border: 1px solid #e9e9e9;
border-bottom-color: #d5d5d5;
border-bottom-width: 2px;
border-radius: 4px;
background-color: #f3f3f3;
color: #333333;
height:77px;
width:50%;
margin:0 auto;
text-align:center;
}
.box:hover{height:87px;}
